@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    color: #333;
    background-color: #fff7fc;
    line-height: 1.4;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.2rem;
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #ffe0ef;
}

.logo{
    width: 80px;

}

.btn-contato{
    display: none;
}

.hamburger{
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

.hamburger span{
    width: 26px;
    height: 3px;
    background: #ff4da6;
    border-radius: 3px;
}

.nav-menu{
    position: absolute;
    top:70px;
    left: 0;
    width: 100%;
    background: white;
    display: none;
    padding: 1rem 0;
}

.nav-menu.active{
    display: block;
}

.nav-menu ul{
    list-style: none;
    text-align: center;
}

.nav-menu ul li{
    margin: 1rem 0;
}

.nav-menu a{
    text-decoration: none;
    color: #ff4da6;
    font-weight: 600;
    font-size: 1.2rem;
}

.container{
    background-image: url(../images/bg.png);
    background-size: contain;
    width: 100%;
    min-height: 100vh;
    
   
}

#home{
    padding: 2rem 1.5rem;
    text-align: center;
}

.home-image{
    width: 300px;
    height: auto;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-12px); }
    100% { transform: translateY(0px); }
}

.home-title{
    margin-top: 1.5rem;
    font-size: 1.9rem;
    font-weight: 700;
    color: #2d1412;
}

.home-title span{
    color: #e0457b;
}

.home-description{
    margin: 1rem 0 1.5rem;
    font-size: 1rem;
    color: #2b1715;
}

.home-actions{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn{
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
}

.btn-default{
    background: #9E0059;
    color: white;
}

.btn-outlined{
    border: 2px solid #9E0059;
    color: #9E0059;
}

#about{
    background-color: #F8DDE8;
    border-radius: 20px;
    padding: 3rem 1.5rem;
}

.about-image img{
    width: 100%;
    margin: 1rem 0;
}

.about-text h2{
    margin-bottom: 0.5rem;
    color: #2d1412;
     
}

.about-text span{
    color: #e0457b;
    font-weight: 600;
}

#flavors{
    padding: 3rem 1rem;
    text-align: center;
}

.flavors-cards{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.flavors-card img{
    width: 100%;
    border-radius: 10px;
}

.flavors-card h3{
    margin: 0.6rem 0;
}

.form-contato{
    padding: 3rem 1.5rem;
}

.form-contato h2{
    text-align: center;
    margin-bottom: 1.5rem;
}
#contato{
    background-color: #F8DDE8;
    border-radius: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

input, textarea {
    padding: 12px;
    border: 1.5px solid  #9E0059;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
}

input:focus, textarea:focus {
    border-color:  #2d1412;
}

textarea{
    min-height: 130px;
    resize: vertical;
}

.form-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem
}

.btn-submit{
    background: #9E0059;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
}

.btn-reset{
    background: #ffe6f3;
    color: #9E0059;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
}

footer{
    text-align: center;
    padding: 1rem;
    background: #fff0f8;
    color: #9E0059;
}

/* MEDIA QUERIES (Tablet / Desktop) ------------------------ */
@media (min-width: 768px) {

  .nav-menu {
    background-color: #F8DDE8;
    position: static;
    display: block;
  }

  .hamburger {
    display: none;
  }

  .btn-contato {
    display: block;
    background: #ff4da6;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
  }

  .header {
    background-color: #F8DDE8;
    gap: 2rem;
  }

  .nav-menu ul {
   
    display: flex;
    gap: 1.5rem;
  }
  .container{
    background-image: url(../images/bg.png);
    background-size: contain;
    width: 100%;
    min-height: 100vh;
    padding: 40px 100px;
   
}

  #about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
  }

  .flavors-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  #contato{
    background-color: #F8DDE8;
    border-radius: 30px;
  }

  .form {
    
    max-width: 500px;
    margin: auto;
  }
}

@media (min-width: 1024px) {
 .flavors-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.flavors-card{
    background: #ffffff;
    width: 300px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: .3s;
}

.flavors-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.flavors-card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.flavors-card h3{
    color:#2d1412;
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.flavors-description{
    font-size: 1rem;
    color: #2d1412;
    margin-top: 6px;
}

#about{
    background-color: #F8DDE8;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 80px 5%;
}

.about-text{
    width: 30%;
    font-size: 18px;
    line-height: 1.6;
    color: #2d1412;

    span{
        color: #9E0059;
    }
}

.about-image img{
    width: 350px;
    display: block;
}

  #home {
    max-width: 900px;
    margin: auto;
  }
}